.editor .CodeMirror {
  font-family: Monaco, monospace;
  font-size: 16px;
  height: calc(100vh - var(--header-height) - var(--toolbar-height));
  padding: 4px;
  box-sizing: border-box;
  line-height: 1.6;
}

.dialog {
  padding: 8px 12px;
  color: #fff;
  background-color: #007b00;
  position: fixed;
  bottom: 40px;
  right: 10px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
}
