.toolbar {
  background-color: #5e2676;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  height: var(--toolbar-height);
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: right;
}

.select {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}

.select:hover {
  opacity: 0.8;
}
