body {
  margin: 0;
  padding: 0;
}

#editor .CodeMirror {
  font-family: Monaco, monospace;
  font-size: 16px;
  height: calc(100vh - 30px);
  padding: 4px;
  box-sizing: border-box;
  line-height: 1.6;
}

#toolbar {
  background-color: #5E2676;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  height: 30px;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: right;
}

.cm-s-draftan-dark span.cm-meta { color: #569cd6; }
.cm-s-draftan-dark span.cm-number { color: #b5cea8; }
.cm-s-draftan-dark span.cm-keyword { line-height: 1em; font-weight: bold; color: #569cd6; }
.cm-s-draftan-dark span.cm-def { color:#9cdcfe; }
.cm-s-draftan-dark span.cm-variable { color: #ddd6a3; }
.cm-s-draftan-dark span.cm-variable-2 { color: #9cdcfe; }
.cm-s-draftan-dark span.cm-variable-3,
.cm-s-draftan-dark span.cm-type { color: #A9B7C6; }
.cm-s-draftan-dark span.cm-property { color: #9cdcfe; }
.cm-s-draftan-dark span.cm-operator { color: #d4d4d4; }
.cm-s-draftan-dark span.cm-string { color: #ce9178; }
.cm-s-draftan-dark span.cm-string-2 { color: #6A8759; }
.cm-s-draftan-dark span.cm-comment { color: #6A9955; }
.cm-s-draftan-dark span.cm-link { color: #287BDE; }
.cm-s-draftan-dark span.cm-atom { color: #569cd6; }
.cm-s-draftan-dark span.cm-error { color: #BC3F3C; }
.cm-s-draftan-dark span.cm-tag { color: #569cd6; }
.cm-s-draftan-dark span.cm-attribute { color: #9cdcfe; }
.cm-s-draftan-dark span.cm-qualifier { color: #d7ba7d; }
.cm-s-draftan-dark span.cm-bracket { color: #808080; }
.cm-s-draftan-dark.CodeMirror { background: #1e1e1e; color: #e9e9e9; }
.cm-s-draftan-dark .CodeMirror-cursor { border-left: 1px solid #bebebe; }
.cm-s-draftan-dark div.CodeMirror-selected { background: #1e496c; }
.cm-s-draftan-dark .CodeMirror-gutters { background: #252526; border-right: 1px solid grey; color: #606366; }
.cm-s-draftan-dark span.cm-builtin { color: #A9B7C6; }
.cm-s-draftan-dark .CodeMirror-matchingbracket { background-color: #3b514d; color: yellow !important; }
.cm-s-draftan-dark.cm-fat-cursor .CodeMirror-cursor,
.cm-s-draftan-dark .cm-animate-fat-cursor { background-color: #999999; opacity: 0.8; }
